body {
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#resultado {
    font-weight: bold;
    margin-top: 10px;
}